@import url('stylesheet.css');
// ==== Colors =====
$orange: #E86252;
$black: #333;
$grey: #484a47;
// ==== Typefaces ====
$display: 'Friday13';
$backup: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
$serif: 'Cormorant Garamond';
// ==== Defaults ====
html {
  box-sizing: border-box;
  font-size: 1.125em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #222;
  color: #333;
  width: 100%;
  height: 100%;
  line-height: 1.45;
  font-weight: 400;
  font-family: $backup, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//==== Typography ====
p {margin-bottom: 1.3em}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  @media screen and (min-width: 800px) {
    font-size: 3.998em;
  }
}
h2 {
  @media screen and (min-width: 800px) {
    font-size: 2.827em;
  }
}
h3 {
  @media screen and (min-width: 800px) {
    font-size: 1.999em;
  }
}
h4 {
  @media screen and (min-width: 800px) {
    font-size: 1.414em;
  }
}

small, .font_small {
  font-size: 0.707em;
}